body{
    background-color: white
}

@import url('https://fonts.googleapis.com/css2?family=BioRhyme&display=swap');


@media (min-width: 1270px) {
    .div-hero-first-first {
        background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
        background-position: center;
        height: 18.5rem;
        width: 100%;
        display: flex;
        margin-top: 01em;
        align-items: center;
        justify-content: center;
        animation: slide 15s infinite;
        animation-delay: 2s;
        
    
    }
    .div-first {
        display: none;
    }
    .div-first-flex {
        display: flex;
        background: white;
        flex-direction: column;
    }
    
    .div-first-column {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        margin-top: 0.2em;
    }
    
    .div-first-column:hover {
        display: flex;
        flex-direction: row;
        justify-content: baseline;
        padding-top: 0.4em;
        padding-bottom: 0.4em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        margin-top: 0.2em;
        background-color: #0A71CF;
        color: white;
    }
    
    .div-first-column-first {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 1em;
    }
    
    .div-para-column {
        margin-left: 0.5rem;
    }
    
    
    .div-hero-first {
        background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
        background-position: center;
        height: 18.5rem;
        width: 69.5rem;
        display: none;
        margin-top: -0.1em;
        align-items: center;
        justify-content: center;
        animation: slide 15s infinite;
        animation-delay: 2s;
    
    }
    
    @keyframes slide {
        25% {
            background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
        }
    
        50% {
            background: url(../components/images/pexels-quang-viet-nguyen-12835319\ 2.png);
        }
    
        75% {
            background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
        }
    
        100% {
            background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
        }
    
    }
    
    
    .box-product {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.7em;
    }
    
    .product-container {
        width: 13rem;
        height: 20rem;
        margin-bottom: 0.3em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.1em;
        padding: 0.5em;
        border: 0.03em solid #D9D9D9;
        border-radius: 0.5em;
        font-size: 0.78em;
        margin-right: 0.8em;
    }
    
    .image {
        width: 11em;
        height: 10em;
    }
    
    .product-name {
        font-size: 1em;
        font-weight: 600;
    }
    
    .product-price {
        font-size: 1.2em;
        font-weight: 900;
    
    }
    
    .contain {
        margin-top: 1em;
    }
    
    .spread-product {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1em;
        margin-top: 1.2em;
    
    }
    
    .product-specs {
        font-size: 0.7em;
        font-weight: 400;
    }
    
    .product-discount {
        font-size: 0.65em;
        font-weight: 600;
        padding: 0.2em 0.5em;
        background-color: red;
        color: white;
        width: 6em;
        justify-content: right;
    
    }
    
    .cta-product {
        width: 9.4em;
        padding: 0.5em 0.9em;
        background-color: #0A71CF;
        color: white;
        border: #0A71CF;
        font-size: 0.8em;
        float: right;
        border-radius: 0.5em;
    }
    
    .cta-product:hover {
        width: 9.4em;
        padding: 0.5em 0.9em;
        background-color: black;
        color: white;
        border: black;
        font-size: 0.8em;
        float: right;
        border-radius: 0.5em;
    }
    
    
    .first-footer {
        margin-top: 7em;
        background-color: #0A71CF;
        color: white;
        padding-right: 3em;
        padding-top: 3em;
        padding-bottom: 3em;
        padding-left: 1.4em;
        display: flex;
        justify-content: space-between;
    }
    
    .last-footer {
        background-color: #000;
        color: white;
        padding: 3em;
        display: flex;
        justify-content: space-between;
    }
    
    .h-footer {
        margin-bottom: 1.3em;
        font-size: 1.2em;
    }
    
    .h-para {
        margin-bottom: 0.7em;
        font-size: 0.9em;
    }
    
    .input-form {
        gap: 0.8m;
        margin-top: 0.8em;
    }
    
    .input-mails {
        width: 36em;
        height: 3em;
        padding-left: 2em;
    }
    
    .btn-mails {
        width: 12em;
        height: 3.2em;
        background-color: black;
        color: white;
        margin-left: 0.5em;
        border: none;
    }
    




}


@media (min-width: 600px)and (max-width: 1280px) {

    .cta-product {
        border-radius: 0.5em;
        width: 8.4em;
        padding: 0.5em 0.9em;
        background-color: #0A71CF;
        color: white;
        border: #0A71CF;
        font-size: 0.8em;
        float: right;
    }
    
    .box-product-this{
        font-size: 0.7em
    }
    .cta-product:hover {
        border-radius: 0.5em;
        width: 8.4em;
        padding: 0.5em 0.9em;
        background-color: black;
        color: white;
        border: black;
        font-size: 0.8em;
        float: right;
    }
    .spread-product {
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 1.2em;
    
    }
    .box-product {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-columns: auto auto auto;
        gap: 0.6em;
        width: 100%;
        justify-content: center;
        align-items: center;
    }
    
    .product-container {
        width: 12.5rem;
        height: 18rem;
        margin-bottom: 0.6em;
        margin-top: 0.6em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.1em;
        padding: 0.7em;
        border: 0.03em solid #D9D9D9;
        border-radius: 0.5em;
        font-size: 0.78em;
    }
    
    .image {
        width: 8em;
        height: 8em;
    }
    
    p {
        font-size: 0.76em;
    }
    
    .h-para {
        font-size: 0.76em;
    }
    
    .h-footer {
        font-size: 0.85em;
    }
    
    .input-mails {
        width: 25em;
    }
    
    .btn-mails {
        width: 17em;
    }
    
    .h-one {
        font-size: 0.9em;
    }
    
    .div-first {
        display: none;
    }
    
    .div-first-column-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33em;
    }
    .input-form{width: 32em;display: flex;}
    
    
    
    .div-hero-first {
        visibility: hidden;
    }
.div-first-column-first{
    height:0.1em;

}

.div-hero-first-first {
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: -0.1em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;

}

@keyframes slide {
    25% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    50% {
        background: url(../components/images/pexels-quang-viet-nguyen-12835319\ 2.png);
    }

    75% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    100% {
        background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    }
}

.cta-product {
    border-radius: 0.5em;
    width: 8.5em;
    height: 3.9em;
    padding: 0.5em 0.9em;
    background-color: #0A71CF;
    color: white;
    border: #0A71CF;
    font-size: 0.8em;
    float: right;
}

.cta-product:hover {
    border-radius: 0.5em;
    width: 8.5em;
    height: 3.9em;
    padding: 0.5em 0.9em;
    background-color: black;
    color: white;
    border: black;
    font-size: 0.8em;
    float: right;
}

.spread-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2em;

}
.first-footer {
    background-color: #0A71CF;
    color: white;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 1.4em;
    display: flex;
    margin-top: 0 ;
    justify-content: space-between;
    padding-top: 2em;
}
.h-one{
    margin-bottom: 1em;
}
.input-form{display: flex;align-items: center;}
    
    
    
.input-mails{
    width:20em;
    padding-left: 1em;
    height: 3em;
    
    margin-right: 0.2em;
}

.btn-mails{
    width:9em;
    border: none; 
    height: 3.4em;
    color: white;
    background-color: #000;
}
.product-discount{
    background-color: red;
    font-size: 0.7em;
    padding: 0.4em;
    width: 5.2em;
    color: white;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}
.product-name{
    font-size: 1.1em;
    margin-bottom: 0.5em;

}
.product-specs{
    font-size: 0.8em;
    font-weight: 400;
    color: #222;
    margin-bottom: 0.5em;
}
.product-price{
    font-size: 1.2em
}
.last-footer{
    display: flex;
    justify-content: space-between;
    background-color: #000;
    color: white;
    padding: 2em;
}
.h-footer{
    margin-bottom: 0.6em;
    margin-top: 4em;
}
.div-first-column-first{
    height: 0;
    width: 0;
}
.last-footer-last{
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: 2em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;
    }
}

@media (min-width: 400px)and (max-width: 600px) {
    .last-footer-last{
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: 0.3em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;
    }
    .box-product {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }

    .box-product-this{
        font-size: 0.9em;
    }

    .product-container {
        width: 11.5rem;
        height: 18rem;
        margin-bottom: 0.3em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.1em;
        padding: 0.5em;
        border: 0.03em solid #D9D9D9;
        border-radius: 0.5em;
        font-size: 0.78em;
    }
    
    .image {
        width: 9em;
        height: 9em;
    }
    
    p {
        font-size: 0.7em;
    }
    
    .h-para {
        font-size: 0.6em;
    }
    
    .h-footer {
        font-size: 0.8em;
    }
    
    .input-mails {
        width: 17em;
        font-size: 0.8em;
        border-radius: 0.2em;
        border: none;
    }
    
    .btn-mails {
        width: 22em;
        font-size: 0.8em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        border-radius: 0.4em;
    }
    
    .h-one {
        font-size: 0.78em;
    }
    
    .div-first {
        display: none;
    }
    
    .div-first-column-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33em;
    }
    .div-hero-first {
        visibility: hidden;
    }
.div-first-column-first{
    height:0.1em;
    width: 0.1em; 

}
.div-first-flex{
        margin: 0;
        padding: 0;
    
    
}
.div-hero-first-first {
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: 01em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;
    

}

@keyframes slide {
    25% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    50% {
        background: url(../components/images/pexels-quang-viet-nguyen-12835319\ 2.png);
    }

    75% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    100% {
        background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    }
}

.cta-product {
    width: 7.9em;
    border-radius: 0.5em;
    height: 3.4em;
    padding: 0.5em 0.9em;
    background-color: #0A71CF;
    color: white;
    border: #0A71CF;
    font-size: 0.7em;
    float: right;
    border-radius: 0.5em;
}

.cta-product:hover {
    border-radius: 0.5em;
    border-radius: 0.5em;
    width: 7.9em;
    height: 3.4em;
    padding: 0.5em 0.9em;
    background-color: black;
    color: white;
    border: black;
    font-size: 0.7em;
    float: right;
}

.spread-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2em;

}
.first-footer {
    background-color: #0A71CF;
    color: white;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 1.4em;
    display: flex;
    margin-top: 0 ;
    justify-content: space-between;
    padding-top: 2em;
}
.h-one{
    margin-bottom: 1em;
}
.input-form{display: flex;align-items: center;}
    
    
    
.input-mails{
    width:20em;
    padding-left: 1em;
    height: 3em;
    
    margin-right: 0.2em;
}

.btn-mails{
    width:9em;
    border: none; 
    height: 3.4em;
    color: white;
    background-color: #000;
}
.product-discount{
    background-color: red;
    font-size: 0.7em;
    padding: 0.4em;
    width: 5.2em;
    color: white;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}
.product-name{
    font-size: 1.1em;
    margin-bottom: 0.5em;

}
.product-specs{
    font-size: 0.8em;
    font-weight: 400;
    color: #222;
    margin-bottom: 0.5em;
}
.product-price{
    font-size: 1.2em
}
.last-footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: white;
    padding: 2em;
}
.h-footer{
    margin-bottom: 0.6em;
    margin-top: 4em;
}
.div-first-column-first{
    height: 0;
    width: 0;
}
}

@media (max-width: 400px) {
    .last-footer-last{
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: 0.3em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;
    }
    .box-product {
        display: grid;
        grid-template-columns: auto auto;
        gap: 0.5em;
        justify-content: center;
        align-items: center;
    }

    .box-product-this{
        font-size: 0.9em;
    }

    .product-container {
        width: 10.8rem;
        height: 16rem;
        margin-bottom: 0.3em;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-top: 0.1em;
        padding: 0.5em;
        border: 0.03em solid #D9D9D9;
        border-radius: 0.5em;
        font-size: 0.78em;
    }
    
    .image {
        width: 9em;
        height: 9em;
    }
    
    p {
        font-size: 0.7em;
    }
    
    .h-para {
        font-size: 0.6em;
    }
    
    .h-footer {
        font-size: 0.8em;
    }
    
    .input-mails {
        width: 17em;
        font-size: 0.8em;
        border-radius: 0.2em;
        border: none;
    }
    
    .btn-mails {
        width: 22em;
        font-size: 0.8em;
        padding-left: 0.6em;
        padding-right: 0.6em;
        border-radius: 0.4em;
    }
    
    .h-one {
        font-size: 0.56em;
    }
    
    .div-first {
        display: none;
    }
    
    .div-first-column-first {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 33em;
    }
    .div-hero-first {
        visibility: hidden;
    }
.div-first-column-first{
    height:0.1em;
    width: 0.1em; 

}
.div-first-flex{
        margin: 0;
        padding: 0;
    
    
}
.div-hero-first-first {
    background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    background-position: center;
    height: 18.5rem;
    width: 100%;
    display: flex;
    margin-top: 01em;
    align-items: center;
    justify-content: center;
    animation: slide 15s infinite;
    animation-delay: 2s;
    

}

@keyframes slide {
    25% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    50% {
        background: url(../components/images/pexels-quang-viet-nguyen-12835319\ 2.png);
    }

    75% {
        background: url(../components/images/pexels-castorly-stock-3829441\ 2.png);
    }

    100% {
        background: url(../components/images/pexels-antony-trivet-9980391\ 2.png);
    }
}

.cta-product {
    border-radius: 0.5em;
    width: 7.9em;
    height: 3.4em;
    padding: 0.5em 0.9em;
    background-color: #0A71CF;
    color: white;
    border: #0A71CF;
    font-size: 0.7em;
    float: right;
}

.cta-product:hover {
    border-radius: 0.5em;
    width: 7.9em;
    height: 3.4em;
    padding: 0.5em 0.9em;
    background-color: black;
    color: white;
    border: black;
    font-size: 0.7em;
    float: right;
}

.spread-product {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.2em;

}
.first-footer {
    background-color: #0A71CF;
    color: white;
    padding-right: 3em;
    padding-bottom: 3em;
    padding-left: 1.4em;
    display: flex;
    margin-top: 0 ;
    justify-content: space-between;
    padding-top: 2em;
}
.h-one{
    margin-bottom: 1em;
}
.input-form{display: flex;align-items: center;}
    
    
    
.input-mails{
    width:15em;
    padding-left: 1em;
    height: 2.4em;
    
    margin-right: 0.2em;
}

.btn-mails{
    width:9em;
    border: none; 
    height: 3.4em;
    color: white;
    background-color: #000;
    font-size: 0.62em;
    padding: 1em 2em
}
.product-discount{
    background-color: red;
    font-size: 0.7em;
    padding: 0.4em;
    width: 5.2em;
    color: white;
    margin-top: 0.6em;
    margin-bottom: 0.5em;
}
.product-name{
    font-size: 1.1em;
    margin-bottom: 0.5em;

}
.product-specs{
    font-size: 0.8em;
    font-weight: 400;
    color: #222;
    margin-bottom: 0.5em;
}
.product-price{
    font-size: 1.2em
}
.last-footer{
    display: flex;
    flex-direction: column;
    background-color: #000;
    color: white;
    padding: 2em;
}
.h-footer{
    margin-bottom: 0.6em;
    margin-top: 4em;
}
.div-first-column-first{
    height: 0;
    width: 0;
}
}